input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
    font-family: chalkBoard;
    src: url('../css/TenThousandReasonsFont/KgTenThousandReasons-R1ll.ttf')
}
@font-face {
    font-family: grutchFont;
    src: url('../css/grutchFont/GrutchShaded.ttf')
}

body {
    display: flex;
    height: 100vh;
    background-image: url('../css/chalkboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px groove rgb(134, 65, 0);
    color: antiquewhite;
    font-size: 30px;
    align-items: center;
}

@media(max-width: 768px) {
    body {
        font-size: 20px;
    }

}

.scoreTracker {
    position: absolute;
    top: 30px;
    left: 30;
}

.currentScore, 
.highScore {
    font-family: grutchFont;
    font-size: 30px;
}

.currentScore {
    color: lightblue;
}

.highScore {
    color: gold;
}

@media(max-width: 576px) {
    .currentScore,
    .highScore {
        font-size: 15px;
        font-family: chalkBoard;
    }
}

.gameBox {
    display: flex;
    text-align: center;
    font-family: chalkBoard;

}

@media(min-width: 768px) {
    .gameBox {
        min-height: 400px;
    }
}

.gameContent {
    align-self: center;
}

#timerNumber {
    font-size: 40px;
}

@media(max-width: 768px) {
    #timerNumber {
        font-size: 25px;
    }
}

#equation {
    font-size: 60px;
    color: lightblue;
    margin-bottom: 15px;
    margin-top: 10px;
}

@media(max-width: 768px) {
    #equation {
        font-size: 40px;
    }
}

#solution {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#plus, #minus,
#multiply, #divide {
    height: 30px;
}

@media(max-width: 768px) {
    #plus, #minus,
    #multiply, #divide {
        height: 20px;
    }
}


.numberLimit {
    margin-top: 10px;
}